@model EmployeeRegistration.ViewModels.EmployeeSearchModel
@{
    ViewData["Title"] = "List";
}

<form asp-controller="Employee" asp-action="List" method="post">

    @if (Model.Employees.Count > 0)
    {

        <label>Search Employee Name.</label>
        <div class="input-group mb-3">
            <input asp-for="EmployeeName" type="text" class="form-control" placeholder="Employee Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                   
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        
                        <th>@item.Name</th>
                        <td>@item.Email</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Gender</td>
                    </tr>
                }

            </tbody>
        </table>

    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>There is not data to show.</h3>
                </div>
            </div>
        </div>
    }
</form>

